<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>

    <div class="container">
      <div class="site">
        <div class="header">
          <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          <a class="extra" href="/">home</a>
          <a class="extra" href="/about">about</a>
        </div>

        {{ content }}

        <div class="footer">
          <div class="contact">
            <p>
              Chris Sims<br />
              CS Graduate Student<br />
              chris@jcsi.ms
            </p>
          </div>
          <div class="contact">
            <p>
              <a href="http://github.com/jcsims/">github.com/jcsims</a><br />
              <a href="http://twitter.com/jcsims/">@jcsims</a><br />
              PGP Key ID: AE23E2E0
            </p>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

  </body>
</html>
